<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="../../css/buttons.css"/>
  <link rel="stylesheet" href="../../css/home.css"/>
  <meta charset="UTF-8">
  <title>Buttons</title>
</head>
<body>
<div class="menu">
  <a href="../../index.html" class="button button--green">Back to Home</a>
</div>
<div class="content">
  <h3>A Basic Button</h3>
  <div class="button">Buy Now</div>

  <h3>A Button Element with the Button Class</h3>
  <button class="button">Send Mail</button>

  <h3>An Anchor with a Button Class</h3>
  <a href="#" class="button">Search</a>

  <h3>Buttons of different sizes</h3>
  <div class="button button--sm">A Small Button</div>
  <div class="button">A Button</div>
  <div class="button button--md">A Medium Button</div>
  <div class="button button--lg">A Large Button</div>
</div>
</body>
</html>