<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="../../css/sidebar.css"/>
  <link rel="stylesheet" href="../../css/buttons.css"/>
  <link rel="stylesheet" href="../../css/home.css"/>
  <meta charset="UTF-8">
  <title>Sidebar</title>
</head>
<body>
<div class="menu">
  <a href="../../index.html" class="button button--green">Back to Home</a>
</div>
<div class="content">
  <div class="sidebar">
    <div class="name-header">
      <h1 class="sidebar__heading sidebar__heading--name">Carlos</h1>
      <h1 class="sidebar__heading">Coves Prieto</h1>
    </div>
    <div class="sidebar__photo-container sidebar__photo-container--main">
      <img class="sidebar__img sidebar__img--border" src="images/me.png">
    </div>
    <div class="sidebar__photo-container">
      <img class="sidebar__img sidebar__img--border" src="images/desktop.png">
    </div>
    <div class="sidebar__photo-container">
      <img class="sidebar__img" src="images/arch_sh.png">
    </div>
    <div class="clear-both"></div>
    <hr class="sidebar__hr">
    <div>
      <h3>The only way to go fast is to go well</h3>
      <p class="sidebar__paragraph">In my last years as a supply chain engineer, I became interested in programming and
        open
        source collaboration. After a casual meeting with an Agile developer, I discovered TDD, Clean Code and SOLID
        principles. Now I am a test-first coding believer.</p>
      <p class="sidebar__paragraph">The heading is a quote from Robert C. "Uncle Bob" Martin. The photo shows my
        desktop,
        which
        runs i3 window manager under Arch Linux, my favourite distro.</p>
      <a class="sidebar__button sidebar__link" href="#">Back to Full Profile</a>
    </div>
  </div>
</div>
</body>
</html>