<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="../../css/buttons.css"/>
  <link rel="stylesheet" href="../../css/home.css"/>
  <link rel="stylesheet" href="../../css/showcase.css"/>
  <meta charset="UTF-8">
  <title>Forms</title>
</head>
<body>
<div class="menu">
  <a href="../../index.html" class="button button--green">Back to Home</a>
</div>
<div class="showcase">
  <h1 class="showcase__heading">Many Forms</h1>
  <div class="showcase__form">
    <h2 class="showcase__form__heading">Signup</h2>
    <div class="align-center-container">
      <img class="showcase__form__photo" src="images/sc-signup.png">
      <a href="signup.html" class="button button--green">Go</a>
    </div>
  </div>
  <div class="showcase__form">
    <h2 class="showcase__form__heading">Search</h2>
    <div class="align-center-container">
      <img class="showcase__form__photo" src="images/sc-search.png">
      <a href="search.html" class="button button--green">Go</a>
    </div>
  </div>
  <div class="showcase__form">
    <h2 class="showcase__form__heading">Poll</h2>
    <div class="align-center-container">
      <img class="showcase__form__photo" src="images/sc-questionnaire.png">
      <a href="questionnaire.html" class="button button--green">Go</a>
    </div>
  </div>
  <div class="showcase__form">
    <h2 class="showcase__form__heading">Login</h2>
    <div class="align-center-container">
      <img class="showcase__form__photo" src="images/sc-login.png">
      <a href="login.html" class="button button--green">Go</a>
    </div>
  </div>
  <div class="showcase__form">
    <h2 class="showcase__form__heading">Color</h2>
    <div class="align-center-container">
      <img class="showcase__form__photo" src="images/sc-color.png">
      <a href="color.html" class="button button--green">Go</a>
    </div>
  </div>
  <div class="showcase__form">
    <h2 class="showcase__form__heading">Shipping</h2>
    <div class="align-center-container">
      <img class="showcase__form__photo" src="images/sc-billing.png">
      <a href="shipping.html" class="button button--green">Go</a>
    </div>
  </div>
  <div class="showcase__form">
    <h2 class="showcase__form__heading">Scheduling</h2>
    <div class="align-center-container">
      <img class="showcase__form__photo" src="images/sc-schedule.png">
      <a href="scheduling.html" class="button button--green">Go</a>
    </div>
  </div>
  <div class="showcase__form">
    <h2 class="showcase__form__heading">Credit Card</h2>
    <div class="align-center-container">
      <img class="showcase__form__photo" src="images/sc-credit.png">
      <a href="credit-card.html" class="button button--green">Go</a>
    </div>
  </div>
</div>
</body>
</html>