<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="../../css/forms.css"/>
  <link rel="stylesheet" href="../../css/buttons.css"/>
  <link rel="stylesheet" href="../../css/home.css"/>
  <meta charset="UTF-8">
  <title>Questionnaire</title>
</head>
<body>
<div class="menu">
  <a href="../../index.html" class="button button--green">Back to Home</a>
  <a href="index.html" class="button button--green">Back to Forms Showcase</a>
</div>
<div class="content">
  <div class="coves-form">
    <form id="questionnaire-form" method="post" action="#" novalidate>
      <label class="coves-form__label">How did you find this page?</label>
      <div class="coves-form__radio-set">
        <div class="coves-form__radio-container">
          <input id="magazine" class="coves-form__radio-container__input" type="radio" name="find" value="magazine"
                 tabindex="1">
          <label for="magazine"
                 class="coves-form__label coves-form__label--normal coves-form__label--pointer coves-form__input--hover">Magazine</label>
        </div>
        <div class="coves-form__radio-container">
          <input id="tv" class="coves-form__radio-container__input" type="radio" name="find" value="tv">
          <label for="tv"
                 class="coves-form__label coves-form__label--normal coves-form__label--pointer coves-form__input--hover">TV</label>
        </div>
        <div class="coves-form__radio-container">
          <input id="google" class="coves-form__radio-container__input" type="radio" name="find" value="google">
          <label for="google"
                 class="coves-form__label coves-form__label--normal coves-form__label--pointer coves-form__input--hover">Google
            Ad</label>
        </div>
        <div class="coves-form__radio-container">
          <input id="friend" class="coves-form__radio-container__input" type="radio" name="find" value="friend">
          <label for="friend"
                 class="coves-form__label coves-form__label--normal coves-form__label--pointer coves-form__input--hover">Friend</label>
        </div>
        <div class="coves-form__radio-container">
          <input id="other" class="coves-form__radio-container__input" type="radio" name="find" value="other">
          <label for="other"
                 class="coves-form__label coves-form__label--normal coves-form__label--pointer coves-form__input--hover">Other</label>
        </div>
        <div class="coves-form__input-container--row">
          <input id="other-text" class="coves-form__input coves-form__input--inline coves-form__radio-container__text"
                 type="text" name="other-text" disabled placeholder="Other media" tabindex="2">
          <span id="other-text__error" class="coves-form__error--inline" aria-live="polite"></span>
        </div>
      </div>
      <div class="coves-form__input-container--row">
        <input type="submit" class="button" value="Submit" tabindex="3">
      </div>
      <div class="coves-form__input-container--row">
        <div id="coves-form__error-box">All inputs are required</div>
      </div>
    </form>
  </div>
</div>
<script src="../../js/validators.js"></script>
<script src="../../js/questionnaire.js"></script>
</body>
</html>