<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/forms.css"/>
  <link rel="stylesheet" href="../../css/buttons.css"/>
  <link rel="stylesheet" href="../../css/home.css"/>
  <meta charset="UTF-8">
  <title>Scheduling Form</title>
</head>
<body>
<div class="menu">
  <a href="../../index.html" class="button button--green">Back to Home</a>
  <a href="index.html" class="button button--green">Back to Forms Showcase</a>
</div>
<div class="content">
  <div class="coves-form">
    <form id="scheduling-form" method="post" action="#" novalidate>
      <h3 class="coves-form__heading">Schedule Appointment</h3>
      <label for="date" class="coves-form__label">Date</label>
      <div class="coves-form__input-container--column">
        <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
        <input id="date"
               class="coves-form__input coves-form__input--focus coves-form__input--hover coves-form__input--required"
               type="text" name="date" placeholder="MM/DD/YYYY" tabindex="1">
        <span id="date__error" class="coves-form__error" aria-live="polite"></span>
      </div>
      <label for="time" class="coves-form__label">Time</label>
      <div class="coves-form__input-container--column">
        <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
        <input id="time"
               class="coves-form__input coves-form__input--focus coves-form__input--hover coves-form__input--required"
               type="text" name="time" placeholder="HH:MM" tabindex="2">
        <span id="time__error" class="coves-form__error" aria-live="polite"></span>
      </div>
      <label for="timezone" class="coves-form__label">Timezone</label>
      <div class="coves-form__input-container--column">
        <select id="timezone"
                class="coves-form__input coves-form__select coves-form__input--hover coves-form__input--focus coves-form__input--required"
                name="timezone" tabindex="3">
          <option selected value="">Select a Timezone</option>
          <option value="-12">(GMT-12:00) International Date Line West</option>
          <option value="-11">(GMT-11:00) Midway Island, Samoa</option>
          <option value="-10">(GMT-10:00) Hawaii</option>
          <option value="-9">(GMT-09:00) Alaska</option>
          <option value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
          <option value="-8">(GMT-08:00) Tijuana, Baja California</option>
          <option value="-7">(GMT-07:00) Arizona</option>
          <option value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
          <option value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
          <option value="-6">(GMT-06:00) Central America</option>
          <option value="-6">(GMT-06:00) Central Time (US & Canada)</option>
          <option value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
          <option value="-6">(GMT-06:00) Saskatchewan</option>
          <option value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
          <option value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
          <option value="-5">(GMT-05:00) Indiana (East)</option>
          <option value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
          <option value="-4">(GMT-04:00) Caracas, La Paz</option>
          <option value="-4">(GMT-04:00) Manaus</option>
          <option value="-4">(GMT-04:00) Santiago</option>
          <option value="-3.5">(GMT-03:30) Newfoundland</option>
          <option value="-3">(GMT-03:00) Brasilia</option>
          <option value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
          <option value="-3">(GMT-03:00) Greenland</option>
          <option value="-3">(GMT-03:00) Montevideo</option>
          <option value="-2">(GMT-02:00) Mid-Atlantic</option>
          <option value="-1">(GMT-01:00) Cape Verde Is.</option>
          <option value="-1">(GMT-01:00) Azores</option>
          <option value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
          <option value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
          <option value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
          <option value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
          <option value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
          <option value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
          <option value="1">(GMT+01:00) West Central Africa</option>
          <option value="2">(GMT+02:00) Amman</option>
          <option value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
          <option value="2">(GMT+02:00) Beirut</option>
          <option value="2">(GMT+02:00) Cairo</option>
          <option value="2">(GMT+02:00) Harare, Pretoria</option>
          <option value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
          <option value="2">(GMT+02:00) Jerusalem</option>
          <option value="2">(GMT+02:00) Minsk</option>
          <option value="2">(GMT+02:00) Windhoek</option>
          <option value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
          <option value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
          <option value="3">(GMT+03:00) Nairobi</option>
          <option value="3">(GMT+03:00) Tbilisi</option>
          <option value="3.5">(GMT+03:30) Tehran</option>
          <option value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
          <option value="4">(GMT+04:00) Baku</option>
          <option value="4">(GMT+04:00) Yerevan</option>
          <option value="4.5">(GMT+04:30) Kabul</option>
          <option value="5">(GMT+05:00) Yekaterinburg</option>
          <option value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
          <option value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
          <option value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
          <option value="5.75">(GMT+05:45) Kathmandu</option>
          <option value="6">(GMT+06:00) Almaty, Novosibirsk</option>
          <option value="6">(GMT+06:00) Astana, Dhaka</option>
          <option value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
          <option value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
          <option value="7">(GMT+07:00) Krasnoyarsk</option>
          <option value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
          <option value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
          <option value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
          <option value="8">(GMT+08:00) Perth</option>
          <option value="8">(GMT+08:00) Taipei</option>
          <option value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
          <option value="9">(GMT+09:00) Seoul</option>
          <option value="9">(GMT+09:00) Yakutsk</option>
          <option value="9.5">(GMT+09:30) Adelaide</option>
          <option value="9.5">(GMT+09:30) Darwin</option>
          <option value="10">(GMT+10:00) Brisbane</option>
          <option value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
          <option value="10">(GMT+10:00) Hobart</option>
          <option value="10">(GMT+10:00) Guam, Port Moresby</option>
          <option value="10">(GMT+10:00) Vladivostok</option>
          <option value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
          <option value="12">(GMT+12:00) Auckland, Wellington</option>
          <option value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
          <option value="13">(GMT+13:00) Nuku'alofa</option>
        </select>
        <span id="timezone__error" class="coves-form__error" aria-live="polite"></span>
      </div>
      <label for="message" class="coves-form__label">Message</label>
      <div class="coves-form__input-container--column">
        <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
        <textarea id="message" name="message"
                  class="coves-form__input coves-form__textarea coves-form__textarea--block coves-form__input--hover coves-form__input--focus coves-form__input--required"
                  rows="5" placeholder="Appointment Message" tabindex="4"></textarea>
        <span id="message__error" class="coves-form__error" aria-live="polite"></span>
      </div>
      <label for="contact" class="coves-form__label">Contact Number</label>
      <div class="coves-form__input-container--column">
        <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
        <input id="contact" class="coves-form__input coves-form__input--hover coves-form__input--focus icon-name"
               type="text" name="contact" placeholder="Contact Number" tabindex="5">
        <span id="contact__error" class="coves-form__error" aria-live="polite"></span>
      </div>
      <label for="email" class="coves-form__label">Email Address</label>
      <div class="coves-form__input-container--column">
        <span class="coves-form-ok fa fa-thumbs-o-up fa-lg" aria-hidden="true"></span>
        <input id="email" class="coves-form__input coves-form__input--hover coves-form__input--focus" type="email"
               name="email" placeholder="E-mail address" tabindex="6">
        <span id="email__error" class="coves-form__error" aria-live="polite"></span>
      </div>
      <div class="coves-form__input-container--column">
        <input type="submit" class="button" value="Submit" tabindex="7">
      </div>
    </form>
  </div>
</div>
<script src="../../js/coves-select.js"></script>
<script src="../../js/validators.js"></script>
<script src="../../js/scheduling-form.js"></script>
</body>
</html>