<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
  <link rel="stylesheet" href="../../css/calculator.css"/>
  <link rel="stylesheet" href="../../css/buttons.css"/>
  <link rel="stylesheet" href="../../css/home.css"/>
  <meta charset="UTF-8">
  <title>Coves Calculator</title>
</head>
<body>
<div class="menu">
  <a href="../../index.html" class="button button--green">Back to Home</a>
</div>
<div class="content">
  <div id="calculator" class="calculator">
    <div class="screen">
      <input id="screen" class="calculator__screen" readonly value="0">
    </div>
    <div class="button-row">
      <div id="number7" class="calculator__button calculator__button--20 calculator__button--number">7</div>
      <div id="number8" class="calculator__button calculator__button--20 calculator__button--number">8</div>
      <div id="number9" class="calculator__button calculator__button--20 calculator__button--number">9</div>
      <div id="divide" class="calculator__button calculator__button--20 calculator__button--sign">/</div>
      <div id="del" class="calculator__button calculator__button--20 calculator__button--clear-del">DEL</div>
    </div>
    <div class="button-row">
      <div id="number4" class="calculator__button calculator__button--20 calculator__button--number">4</div>
      <div id="number5" class="calculator__button calculator__button--20 calculator__button--number">5</div>
      <div id="number6" class="calculator__button calculator__button--20 calculator__button--number">6</div>
      <div id="multiply" class="calculator__button calculator__button--20 calculator__button--sign">*</div>
      <div id="clear" class="calculator__button calculator__button--20 calculator__button--clear-del">C</div>
    </div>
    <div class="button-row">
      <div id="number1" class="calculator__button calculator__button--20 calculator__button--number">1</div>
      <div id="number2" class="calculator__button calculator__button--20 calculator__button--number">2</div>
      <div id="number3" class="calculator__button calculator__button--20 calculator__button--number">3</div>
      <div id="minus" class="calculator__button calculator__button--20 calculator__button--sign">-</div>
    </div>
    <div id="equal" class="calculator__button calculator__button--20 calculator__button--equal">=</div>
    <div class="button-row">
      <div id="number0" class="calculator__button calculator__button--40 calculator__button--number">0</div>
      <div id="number-point" class="calculator__button calculator__button--20 calculator__button--number">.</div>
      <div id="plus" class="calculator__button calculator__button--20 calculator__button--sign">+</div>
    </div>
  </div>
</div>
<script src="../../js/calculatorUtils.js"></script>
<script src="../../js/calculator.js"></script>
</body>
</html>